body, button {
    font-family: 'Montserrat', sans-serif;
    color: #484848;
}

.container {
    margin: 40px 200px 0px 200px;
}

.existing, .submit {
    padding: 5px;
    background-color: #F0F0F0;
    border-radius: 6px;
    border:none;
    color: #484848;
}

.existing:hover {
    background-color: #B4EEB4;
    color: white;
}

#formBox {
    float: right;
    background-color: #B4EEB4;
    padding: 5px;
    border: lightgrey;
    border-width: 3px;
    border-radius: 8px;
    margin-right: 30px;
}